body {
  margin: 0;
  background-image: url('./utils/images/white.jpg');
  background-repeat: no-repeat;
  height: auto;
}




* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  ;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #E6F0FF; /* Azul claro */
}

::-webkit-scrollbar-thumb {
  background-color: #365DA3; /* Azul */
}

/* Firefox */
::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-track {
  background-color: #E6F0FF; /* Azul claro */
}

::-moz-scrollbar-thumb {
  background-color: #365DA3; /* Azul */
}

/* IE 10+ */
::-ms-scrollbar {
  width: 5px;
}

::-ms-scrollbar-track {
  background-color: #E6F0FF; /* Azul claro */
}

::-ms-scrollbar-thumb {
  background-color: #365DA3; /* Azul */
}







